* text=auto !eol
/.cleancount -text
/ChangeLog -text
/Makefile.in -text
/README -text
/README.centos -text
/README.debian -text
/README.gentoo -text
/README.mssql -text
/README.piaf -text
/README.ubuntu-10.04LTS -text
/README.ubuntu-12.04LTS -text
/calltable.cpp -text
/calltable.h -text
/codec_alaw.cpp -text
/codec_alaw.h -text
/codec_ulaw.cpp -text
/codec_ulaw.h -text
/codecs.h -text
/config.h.in -text
config/init.d/voipmonitor -text
config/voipmonitor.conf -text
/configure -text
/configure.in -text
/filter_mysql.cpp -text
/filter_mysql.h -text
/flags.h -text
/format_ogg.cpp -text
/format_ogg.h -text
/format_slinear.cpp -text
/format_slinear.h -text
/format_wav.cpp -text
/format_wav.h -text
/generator.cpp -text
/generator.h -text
gzstream/COPYING.LIB -text
gzstream/Makefile -text
gzstream/Makefile.in -text
gzstream/README -text
gzstream/gzstream.C -text
gzstream/gzstream.h -text
gzstream/test_gunzip.C -text
gzstream/test_gzip.C -text
gzstream/version -text
/hash.cpp -text
/hash.h -text
/http.cpp -text
/http.h -text
/install-sh -text
/ip_frag.h -text
/ipaccount.cpp -text
/ipaccount.h -text
jitterbuffer/abstract_jb.c -text
jitterbuffer/asterisk.h -text
jitterbuffer/asterisk/abstract_jb.h -text
jitterbuffer/asterisk/astmm.h -text
jitterbuffer/asterisk/autoconfig.h -text
jitterbuffer/asterisk/buildopts.h -text
jitterbuffer/asterisk/cdr.h -text
jitterbuffer/asterisk/channel.h -text
jitterbuffer/asterisk/chanvars.h -text
jitterbuffer/asterisk/circbuf.h -text
jitterbuffer/asterisk/cli.h -text
jitterbuffer/asterisk/compat.h -text
jitterbuffer/asterisk/compiler.h -text
jitterbuffer/asterisk/config.h -text
jitterbuffer/asterisk/dsp.h -text
jitterbuffer/asterisk/endian.h -text
jitterbuffer/asterisk/file.h -text
jitterbuffer/asterisk/frame.h -text
jitterbuffer/asterisk/inline_api.h -text
jitterbuffer/asterisk/io.h -text
jitterbuffer/asterisk/linkedlists.h -text
jitterbuffer/asterisk/localtime.h -text
jitterbuffer/asterisk/lock.h -text
jitterbuffer/asterisk/logger.h -text
jitterbuffer/asterisk/md5.h -text
jitterbuffer/asterisk/options.h -text
jitterbuffer/asterisk/paths.h -text
jitterbuffer/asterisk/plc.h -text
jitterbuffer/asterisk/poll-compat.h -text
jitterbuffer/asterisk/sched.h -text
jitterbuffer/asterisk/sha1.h -text
jitterbuffer/asterisk/stringfields.h -text
jitterbuffer/asterisk/strings.h -text
jitterbuffer/asterisk/term.h -text
jitterbuffer/asterisk/threadstorage.h -text
jitterbuffer/asterisk/time.h -text
jitterbuffer/asterisk/translate.h -text
jitterbuffer/asterisk/unaligned.h -text
jitterbuffer/asterisk/utils.h -text
jitterbuffer/astmm.c -text
jitterbuffer/fixedjitterbuf.c -text
jitterbuffer/fixedjitterbuf.h -text
jitterbuffer/frame.c -text
jitterbuffer/jitterbuf.c -text
jitterbuffer/jitterbuf.h -text
jitterbuffer/utils.c -text
liblfds.6/Makefile -text
liblfds.6/Makefile.in -text
liblfds.6/building.txt -text
liblfds.6/dirs -text
liblfds.6/inc/liblfds.h -text
liblfds.6/liblfds.def -text
liblfds.6/liblfds.sln -text
liblfds.6/liblfds.vcproj -text
liblfds.6/makefile.linux -text
liblfds.6/makefile.windows -text
liblfds.6/readme.txt -text
liblfds.6/runme_before_win_kernel_build_readme.txt -text
liblfds.6/runme_before_win_kernel_dynamic_lib_build.bat -text
liblfds.6/runme_before_win_kernel_static_lib_build.bat -text
liblfds.6/sources.dynamic -text
liblfds.6/sources.static -text
liblfds.6/src/abstraction/abstraction_aligned_free.c -text
liblfds.6/src/abstraction/abstraction_aligned_malloc.c -text
liblfds.6/src/abstraction/abstraction_cas.c -text
liblfds.6/src/abstraction/abstraction_dcas.c -text
liblfds.6/src/abstraction/abstraction_increment.c -text
liblfds.6/src/abstraction/abstraction_internal.h -text
liblfds.6/src/dirs -text
liblfds.6/src/driver_entry.c -text
liblfds.6/src/driver_entry_readme.txt -text
liblfds.6/src/freelist/freelist_delete.c -text
liblfds.6/src/freelist/freelist_get_and_set.c -text
liblfds.6/src/freelist/freelist_internal.h -text
liblfds.6/src/freelist/freelist_new.c -text
liblfds.6/src/freelist/freelist_pop_push.c -text
liblfds.6/src/freelist/freelist_query.c -text
liblfds.6/src/liblfds_internal.h -text
liblfds.6/src/queue/queue_delete.c -text
liblfds.6/src/queue/queue_internal.h -text
liblfds.6/src/queue/queue_new.c -text
liblfds.6/src/queue/queue_query.c -text
liblfds.6/src/queue/queue_queue.c -text
liblfds.6/src/ringbuffer/ringbuffer_delete.c -text
liblfds.6/src/ringbuffer/ringbuffer_get_and_put.c -text
liblfds.6/src/ringbuffer/ringbuffer_internal.h -text
liblfds.6/src/ringbuffer/ringbuffer_new.c -text
liblfds.6/src/ringbuffer/ringbuffer_query.c -text
liblfds.6/src/slist/slist_delete.c -text
liblfds.6/src/slist/slist_get_and_set.c -text
liblfds.6/src/slist/slist_internal.h -text
liblfds.6/src/slist/slist_link.c -text
liblfds.6/src/slist/slist_new.c -text
liblfds.6/src/stack/stack_delete.c -text
liblfds.6/src/stack/stack_internal.h -text
liblfds.6/src/stack/stack_new.c -text
liblfds.6/src/stack/stack_push_pop.c -text
liblfds.6/src/stack/stack_query.c -text
liblfds.6/test/building.txt -text
liblfds.6/test/makefile.linux -text
liblfds.6/test/makefile.windows -text
liblfds.6/test/src/abstraction.h -text
liblfds.6/test/src/abstraction_cpu_count.c -text
liblfds.6/test/src/abstraction_thread_start.c -text
liblfds.6/test/src/abstraction_thread_wait.c -text
liblfds.6/test/src/benchmark_freelist.c -text
liblfds.6/test/src/benchmark_queue.c -text
liblfds.6/test/src/benchmark_ringbuffer.c -text
liblfds.6/test/src/benchmark_stack.c -text
liblfds.6/test/src/internal.h -text
liblfds.6/test/src/main.c -text
liblfds.6/test/src/misc.c -text
liblfds.6/test/src/structures.h -text
liblfds.6/test/src/test_abstraction.c -text
liblfds.6/test/src/test_freelist.c -text
liblfds.6/test/src/test_queue.c -text
liblfds.6/test/src/test_ringbuffer.c -text
liblfds.6/test/src/test_slist.c -text
liblfds.6/test/src/test_stack.c -text
liblfds.6/test/test.sln -text
liblfds.6/test/test.vcproj -text
/ltmain.sh -text
/manager.cpp -text
/manager.h -text
/md5.cpp -text
/md5.h -text
/mirrorip.cpp -text
/mirrorip.h -text
/mos_g729.cpp -text
/mos_g729.h -text
/odbc.cpp -text
/odbc.h -text
/pcap_queue.cpp -text
/pcap_queue.h -text
/pcap_queue_block.h -text
/pstat.cpp -text
/pstat.h -text
/rqueue.h -text
/rtcp.cpp -text
/rtcp.h -text
/rtp.cpp -text
/rtp.h -text
scripts/install-script.sh -text
scripts/mysql_copy_4.2to5.0.php -text
simpleini/ConvertUTF.c -text
simpleini/ConvertUTF.h -text
simpleini/Makefile -text
simpleini/Makefile.in -text
simpleini/SimpleIni.h -text
simpleini/SimpleIni.sln -text
simpleini/SimpleIni.vcproj -text
simpleini/ini.syn -text
simpleini/package.cmd -text
simpleini/simpleini.doxy -text
simpleini/simpleini.dsp -text
simpleini/simpleini.dsw -text
simpleini/snippets.cpp -text
simpleini/test.cmd -text
simpleini/test1-expected.ini -text
simpleini/test1-input.ini -text
simpleini/test1.cpp -text
simpleini/testsi-EUCJP.ini -text
simpleini/testsi-SJIS.ini -text
simpleini/testsi-UTF8.ini -text
simpleini/testsi.cpp -text
/skinny.cpp -text
/skinny.h -text
/sniff.cpp -text
/sniff.h -text
/sql_db.cpp -text
/sql_db.h -text
/tcpreassembly.cpp -text
/tcpreassembly.h -text
/tools.cpp -text
/tools.h -text
/voipmonitor.cpp -text
/voipmonitor.h -text
