* text=auto !eol
/Makefile -text
/README -text
/calltable.cpp -text
/calltable.h -text
/cdrtable.sql -text
jitterbuffer/abstract_jb.c -text
jitterbuffer/asterisk.h -text
jitterbuffer/asterisk/abstract_jb.h -text
jitterbuffer/asterisk/channel.h -text
jitterbuffer/asterisk/cli.h -text
jitterbuffer/asterisk/dsp.h -text
jitterbuffer/asterisk/file.h -text
jitterbuffer/asterisk/frame.h -text
jitterbuffer/asterisk/inline_api.h -text
jitterbuffer/asterisk/io.h -text
jitterbuffer/asterisk/linkedlists.h -text
jitterbuffer/asterisk/logger.h -text
jitterbuffer/asterisk/md5.h -text
jitterbuffer/asterisk/options.h -text
jitterbuffer/asterisk/sha1.h -text
jitterbuffer/asterisk/strings.h -text
jitterbuffer/asterisk/term.h -text
jitterbuffer/asterisk/threadstorage.h -text
jitterbuffer/asterisk/time.h -text
jitterbuffer/asterisk/translate.h -text
jitterbuffer/asterisk/unaligned.h -text
jitterbuffer/asterisk/utils.h -text
jitterbuffer/astmm.c -text
jitterbuffer/fixedjitterbuf.c -text
jitterbuffer/fixedjitterbuf.h -text
jitterbuffer/frame.c -text
jitterbuffer/jitterbuf.c -text
jitterbuffer/jitterbuf.h -text
jitterbuffer/utils.c -text
/rtp.cpp -text
/rtp.h -text
/sniff.cpp -text
/sniff.h -text
/voipmonitor.cpp -text
/voipmonitor.h -text
