[Unit]
Description=VoIPmonitor sniffer

[Service]
Type=forking
PIDFile=/var/run/voipmonitor.pid
ExecStart=/usr/bin/voipmonitor --config-file /etc/voipmonitor.conf

[Install]
WantedBy=multi-user.target
